@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  @apply dark:bg-dark-secondary bg-light-secondary;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-full;
}

.message-bubble {
  @apply px-4 py-2 rounded-2xl max-w-[80%] break-words;
}

.sender-message {
  @apply bg-primary text-white self-end rounded-br-none;
}

.receiver-message {
  @apply dark:bg-dark-secondary bg-light-secondary self-start rounded-bl-none;
}